@page
@using Lms.Core.Convertors
@using Lms.Core.Services.Interfaces
@model Lms.Web.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "مدیریت کاربران";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                لیست کاربران سایت
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="col-md-12 col-sm-12 col-xs-12">
                @if (Model.UserForAdminViewModel.Users.Count == 0)
                {
                    <div class="alert alert-danger ">
                        رکوردی یافت نشد
                    </div>
                }

                <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <form>
                            <div class="col-md-4">

                                <div class="col-md-2"><label>نمایش</label></div>
                                <div class="col-md-10">
                                    <select name="take" aria-controls="datatable-checkbox" class="form-control input-sm">
                                        <option value="">پیش فرض</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select><label>کاربر</label>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <input type="text" name="filter" class="form-control" value="@ViewData["Filter"]" placeholder="جست و جو ..." />
                                <input type="submit" value="فیلتر کن" class="btn btn-success btn-round" />
                                <a href="/Admin/Users/" class="btn btn-default btn-round">حذف فیلتر</a>
                            </div>
                        </form>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/Admin/Users/CreateUser/" class="btn btn-success">افزودن کاربر جدید</a>
                            @{
                                int rowCount = 1;

                                if (Model.UserForAdminViewModel.CurrentPage > 1)
                                {
                                    rowCount = Convert.ToInt32(ViewData["Take"].ToString());
                                }
                            }
                            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action dataTable no-footer" role="grid" aria-describedby="datatable-checkbox_info">
                                <thead>
                                    <tr role="row">
                                        <th>ردیف</th>
                                        <th>تصویر</th>
                                        <th>نام کاربری</th>
                                        <th>نام و نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>موبایل</th>
                                        <th>وضعیت</th>
                                        <th>تاریخ ثبت نام</th>
                                        <th>نقش کاربر</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.UserForAdminListPageViewModel)
                                    {
                                        <tr role="row" class="odd">
                                            <td>
                                                @rowCount
                                            </td>
                                            <td>
                                                <img src="/UserAvatar/@item.UserAvatar" class="img-circle" height="50" />
                                            </td>
                                            <td>
                                                @item.UserName
                                            </td>
                                            <td class="sorting_1">
                                                @(item.FirstName + " " + item.LastName)
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @item.Mobile
                                            </td>
                                            <td>
                                                @if (item.IsActive)
                                                {
                                                    <span class="alert-success">فعال</span>
                                                }
                                                else
                                                {
                                                    <span class="alert-danger">غیر فعال</span>
                                                }
                                            </td>
                                            <td>
                                                @item.CreateDate.ToShamsi()
                                            </td>
                                            <td>
                                                @item.RoleName
                                            </td>
                                            <td>
                                                <a href="/Admin/Users/EditUser/@item.UserId" class="btn btn-warning btn-xs">ویرایش</a>
                                                <a href="/Admin/Users/DeleteUser/@item.UserId" class="btn btn-danger btn-xs">حذف</a>
                                            </td>
                                        </tr>
                                        rowCount++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">نمایش @ViewData["PageID"] تا @ViewData["Take"] از @Model.UserForAdminViewModel.UserCounts رکورد</div>
                        </div>
                        <div class="col-sm-7">

                            <div class="btn-group">
                                @if (Model.UserForAdminViewModel.CurrentPage > 1)
                                {
                                    <a class="btn btn-default" href="/Admin/Users?pageId=@(Model.UserForAdminViewModel.CurrentPage-1)">قبلی</a>

                                    <a class="btn btn-default" href="/Admin/Users?pageId=1">اولین صفحه</a>
                                }

                                @for (int i = 1; i <= Model.UserForAdminViewModel.PageCount; i++)
                                {
                                    <a href="/Admin/Users/Index?pageId=@i" class="btn btn-default @((i==Model.UserForAdminViewModel.CurrentPage)? "btn btn-info" : "")">@i</a>
                                }

                                @if (Model.UserForAdminViewModel.CurrentPage < Model.UserForAdminViewModel.PageCount)
                                {
                                    <a class="btn btn-default" href="/Admin/Users?pageId=@(Model.UserForAdminViewModel.CurrentPage + 1)">بعدی</a>
                                    <a class="btn btn-default" href="/Admin/Users?pageId=@(Model.UserForAdminViewModel.PageCount)">اخرین صفحه</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


