@using Lms.Core.ViewModels
@model IEnumerable<Lms.Core.ViewModels.QuestionForExamViewModel>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <span id="questionId" style="display:none;">@item.QuestionId</span>
    <div class="qustion">
        <p>
            @Html.Raw(item.QuestionText)
        </p>
    </div>
    <div class="ans">
        <div class="ans-slide">
            <label class="label_radio">
                <input name="Answer" type="radio" value="@item.Alternate1">@Html.Raw(item.Alternate1)
            </label>
        </div>

        <div class="ans-slide">
            <label class="label_radio">
                <input name="Answer" type="radio" value="@item.Alternate2">@Html.Raw(item.Alternate2)
            </label>
        </div>

        <div class="ans-slide">
            <label class="label_radio">
                <input name="Answer" type="radio" value="@item.Alternate3">@Html.Raw(item.Alternate3)
            </label>
        </div>

        <div class="ans-slide">
            <label class="label_radio">
                <input name="Answer" type="radio" value="@item.Answer">@Html.Raw(item.Answer)
            </label>
        </div>
    </div>
}

<div class="save-btn">
    <input type="button" onclick="SaveAnswer()" id="SaveAnswers" value="ثبت پاسخ" class="btn btn-default" />
</div>

<div class="btn-slide">

    <a id="btnNext" class="btn"><i class="fa fa-angle-right"></i></a>

    <a href="#" class="btn"><i class="fa fa-angle-left"></i></a>
</div>

<div class="row">
    <div class="col-sm-7">
        @{
            int totalItems = ViewBag.TotalItems;
            int currentPage = ViewBag.currentPage;
            int pageSize = 5;
            int maxPages = 5;
            int startPage, endPage;
            var totalPages = ViewBag.PageCount;
        }

        @if (totalPages <= maxPages)
        {
            // total pages less than max so show all pages
            startPage = 1;
            endPage = totalPages;
        }
        else
        {
            // total pages more than max so calculate start and end pages
            var maxPagesBeforeCurrentPage = (int)Math.Floor((decimal)maxPages / (decimal)2);
            var maxPagesAfterCurrentPage = (int)Math.Ceiling((decimal)maxPages / (decimal)2) - 1;

            if (currentPage <= maxPagesBeforeCurrentPage)
            {
                // current page near the start
                startPage = 1;
                endPage = maxPages;
            }
            else if (currentPage + maxPagesAfterCurrentPage >= totalPages)
            {
                // current page near the end
                startPage = totalPages - maxPages + 1;
                endPage = totalPages;
            }
            else
            {
                // current page somewhere in the middle
                startPage = currentPage - maxPagesBeforeCurrentPage;
                endPage = currentPage + maxPagesAfterCurrentPage;
            }
        }

        <div class="btn-group">
            @if (ViewBag.currentPage > 1)
            {
                <a class="btn btn-default" onclick="pageQuestions(@ViewBag.currentPage-1)">قبلی</a>

                @*<a class="btn btn-default" onclick="pageQuestions(1)">اولین سوال</a>*@
            }

            @*@for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                <a onclick="pageQuestions(@i)" class="btn btn-default @((i==ViewBag.currentPage)? "btn btn-info" : "")">@i</a>
            }*@
            @for (int i = startPage; i <= endPage; i++)
            {
                <a onclick="pageQuestions(@i)" class="btn btn-default @((i==ViewBag.currentPage)? "btn btn-info" : "")">@i</a>
            }

            @if (ViewBag.currentPage < ViewBag.PageCount)
            {
                <a class="btn btn-default" onclick="pageQuestions(@ViewBag.currentPage+1)">بعدی</a>

                @*<a class="btn btn-default" onclick="pageQuestions(@ViewBag.PageCount)">اخرین سوال</a>*@
            }
        </div>
    </div>
</div>


